<div class="about">
  <h1>demetra haloutsos</h1>
</div>
<div class="img">
  <img src="../images/photo-3.jpg" alt="me" class="img-circle">
</div>
<div class="info">
<p>
  i am a Los Angeles based web developer that
  just graduated from the 12 week, full-time, Web Development
  Immersive program at General Assembly in
  Downtown, LA. i spent around 500+ hours learning in and out
  of the classroom and completing four projects in week long sprints.
</p>
</div>
<div class="info">
<p>
  i have a passion for learning and look forward to continuing to
  learn and grow in the tech industry. i am currently working on furthering my
  skills in Ruby on Rails and the MEAN stack.
</p>
</div>
<div class="info">
<p>
  i love dogs, a well made gin and tonic, and days when the traffic is light.
</p>
</div>
