<h1>these are the projects i made while i was at General Assembly</h1>
<div class="info">
  <h2><a href="https://sleepy-badlands-97909.herokuapp.com/#/">my prince</a></h2>
    <p>this is a full MEAN stack application that uses json web tokens.
    the idea behind this app is to keep Prince related events in one place.
    users are able to post Prince themed events and concerts that Prince cover bands are going to play.
    i tried to keep the app simple in the design as well as the usage of it.
    the info page shows both the events that are happening as well as the shows that are scheduled.
    i wanted to make something that was fun and showed a little bit of my personality.
  </p>

  <h2><a href="http://infinite-plateau-47667.herokuapp.com/">pickyEater</a></h2>
    <p>this is a team project that uses Yelp's API and Google OAuth.
    the idea behind this project is to take the burden out of trying to decide where to eat.
    the user can make a wish list to keep restaurants they want to eat at,
    then they can choose a randomizing function that will pick a place for them to eat out of that specific list,
    if the user does not like the choice they have the option of having the app choose again.
    </p>

  <h2><a href="https://stark-ridge-55555.herokuapp.com/">petster</a></h2>
    <p>this is an app built using Ruby on Rails, sessions ID, the paperclip gem,
     amazon web services and image magick. the idea behind this app is to have a
     place to post fun pictures of animals that you happen to find online simply
     by copy and pasting the image URL, the user also has the option to upload
     their own pictures from their computer. this app has an admin function where
     the admin can delete pictures that do not fit into the premise of the app.
    </p>

  <h2><a href="http://demetra2h.github.io/gg_memory_game/">memory game</a></h2>
    <p>
      this is my first project at General Assembly, it is a fully front-end game.
      this game is based on the classic childhood game of memory,
      using characters from the TV show The Gilmore Girls as the faces on the cards.
      to win you have to match all the characters on the board.
    </p>
</div>
